<div class="filterAndSortBar">
    <mat-form-field appearance="outline" id="searchBar">
        <mat-icon matPrefix>search</mat-icon>

        <input matInput placeholder="Search..." [(ngModel)]="state.searchTerm" (ngModelChange)="onStateChanged()" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="selectInputs">
        <mat-label>Date Range</mat-label>

        <mtx-select [items]="dateOptions" bindLabel="label" bindValue="id" [(ngModel)]="state.selectedDate" (ngModelChange)="onStateChanged()" [multiple]="false"
            [searchable]="false" [clearable]="false" placeholder="Select account types">
        </mtx-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mtxSelectInputs" subscriptSizing="dynamic">
        <mat-label>Account Types</mat-label>

        <mtx-select [items]="accountTypeOptions()" bindLabel="label" bindValue="id" [(ngModel)]="state.selectedAccountTypeIds"
            (ngModelChange)="onStateChanged()" [multiple]="true" placeholder="Select account types">
            <ng-template ng-multi-label-tmp let-items="items">
                {{ items.length }} selected
            </ng-template>
        </mtx-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mtxSelectInputs" subscriptSizing="dynamic">
        <mat-label>Accounts</mat-label>

        <mtx-select [items]="accountOptions()" bindLabel="label" bindValue="id" [(ngModel)]="state.selectedAccountIds"
            (ngModelChange)="onStateChanged()" [multiple]="true" placeholder="Select account types">
            <ng-template ng-multi-label-tmp let-items="items">
                {{ items.length }} selected
            </ng-template>
        </mtx-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="selectInputs">
        <mat-label>Sort By</mat-label>

        <mtx-select [items]="sortByOptions" bindLabel="label" bindValue="id" [(ngModel)]="state.selectedSortBy" (ngModelChange)="onStateChanged()"
            [multiple]="false" [searchable]="false" [clearable]="false" placeholder="Select account types">
        </mtx-select>
    </mat-form-field>

    <button class="actionButton redButton" type="button" (click)="onClear()">Clear</button>
    <button class="actionButton blueButton" type="button" (click)="onApplyOrRefresh()">{{ showRefresh ? 'Refresh' : 'Apply' }}</button>
</div>